*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    height: 100%;
    width: 100%;
    
}
#Inquiry{
    width: 100%;
    height: 40px;
    background-color: rgb(52, 38, 98);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
#Inquiry h1{
    font-size:15px;
    color: #fff;
}
#Inquiry i{
    font-size: 18px;
    padding-right: 10px;
}
#nav{
    width: 100%;
    height: 70px;
   
    margin: 20px;
    display: flex;
    align-items: center;
     gap: 70px;
  justify-content: space-around;
}

#nav #b {
    display: flex;
    align-items: center;
    gap: 10px;
}
#nav #b i{
    font-size: 60px;
    color:rgb(39, 39, 158);
}
#nav #b h2{
    font-size:45px ;
    color: brown;
}
#nav #b h3{
    font-size: 15px;
    padding-left: 5px;
    letter-spacing:3px;
    color:rgb(39, 39, 158);
    
}
#nav #t {
    display: flex;
  gap: 55px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
  
}
#t .w{
    color: #000;
text-decoration: none;

}
#t .w:hover{
 color: red;
 text-decoration: underline dotted;

}

#nav button{
    background-color: rgb(212, 29, 29);
    padding: 13px 30px;
    border: none;
    border-radius: 4px;
    color: #fff;
}
#nav button:hover{
   transition: all ease  1s;
    background:blue;
}
#pic{
    
    width: 100%;
    height: 75%;
    

}
 #pic #feed{
    width: 100%;
    height: 100%;
    object-fit: fil;
    object-position: center;
    position: relative;
   
 }

img{
    width: 100%;
    height: 100%;
    
}
#pic #icon {
   
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
#pic #icon button{
    border-color: #fff;
    border-width: 5px;
    border-radius: 50%;
   padding: 5px 5px;
   background-color:transparent;
}
#pic #icon i{
    color: #fff;
    font-size: 20px;
}
#pic #box{
    margin-top: 40px;
   height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%,-50%);

}
#box #box1{
    background:#fff;
    width: 15%;
    padding: 20px 10px;
    font-size: 20px;
    font-weight: 600;
    border-radius:10px;
    
}
#box #box5{
    background:#fff;
    font-size: 30px;
    padding: 25px;
   
    font-weight: 600;
    border-radius:10px;
    
}
#box5 #l{
    text-decoration: none;
    color: #000;
}
#box #box2{
    background:#fff;
    width: 15%;
    padding: 20px 10px;
    font-size: 20px;
    font-weight: 600;
    border-radius:10px;
    
}
#box #box3{
    background:#fff;
    width: 15%;
    padding: 20px 10px;
    font-size: 20px;
    font-weight: 600;
    border-radius:10px;
    
}
#box #box4{
    background:#fff;
    width: 15%;
    padding: 20px 10px;
    font-size: 20px;
    font-weight: 600;
    border-radius:10px;
    
}
#box button{
    background:rgb(214, 52, 52);
    color: #fff;
    padding: 33px 20px;
    font-size: 20px;
   font-weight:300;
   border-radius: 10px;
   border-width:none;
}
#top{
    width: 100%;
    height: 400px;
  
   display: flex;
   justify-content: space-between;
   align-items: center;
    margin: 10px;
}
#top #left{
    width: 33%;
    height: 100%;

}
#top #left #q{
    width: 100%;
    height:200px;
    
    margin-bottom: 10px;
}
#top #left #m{
    width: 100%;
    height: 200px;
    
}
#top #center{
    width: 25%;
    height: 100%;
    
}
#top #right{
    width: 40%;
    height: 100%;
    padding: 30px;
}
#top #right h1{
   font-weight: 600;
   color: rgba(14, 14, 194, 0.918);
   padding-bottom: 30px;
}

#top #right p{
    font-size: 20px;
    color: rgba(57, 57, 163, 0.861);
    padding-bottom: 15px;
}
#top #right h2{
   padding-top: 10px;
   font-size: 18px;
   font-weight: 100;
    color: rgba(12, 12, 24, 0.634);
}
#top #right button{
    margin-top: 15px;
    padding: 15px 30px;
    color:#fff ;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    background-color: red;
 }
 
 #tag{
    width: 100%;
    height: 300px;
    
   
 }
 #tag h1{
    color: rgb(47, 47, 173);
    padding: 20px;
 }
 #tag #s {
    width: 100%;
    height:50%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
 }
 #tag #name{
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    display: flex;
 }
 #links{
    width: 100%;
    background-color: rgb(41, 41, 126);
 }
 .footer_title{
    color: #fff;
 }
 li{
    color: #fff;
 }
 .footer_navbar_address{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0 74px;
 }
 ul{
    display: flex;
    flex-direction: column;
    gap: 10%;
 }
 .footer_navlinks{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 p{
    color: #fff;
 }
 a{
    color:#ffffff;
 }
 h5{
    font-size: xx-large;
 }
 .fooret_navbar_block{
    display: flex;
    flex-direction: column;
    gap: 10%;
 }
 .fooret_navbar{
    display: flex;
    flex-direction: column;
    gap: 10%;
 }
 .footer_navbar_address {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
li{
    list-style: none;
}
